@import "../Sass/variables";

.track-content {
  width: 100%;
  // border: 1px solid red;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  // border: 1px solid red;

  .track-title {
    font-family: $font-english-regular;
    color: $website-dark-gray-color;
    font-size: $display-2 * 0.5;
    font-weight: bold;
    text-align: center;
  }



}


.search-box {

  max-width: 450px;
  height: 65px;
  width: 80%;
  // border: 1px solid red;


  display: flex;

  input{
    height: 94%;
    width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #fff;

    border: 1px solid rgb(221, 221, 221);
    padding-left: 20px;
    font-size: $display-0;
    outline: none;
    font-family: $font-english-regular;
    transition: 500ms ease;
  }

  input:focus{
    outline: none;
    border: 1px solid $website-blue-fill-color;
    transition: 500ms ease;

  }

  button{
    border: none;
  }

  .icon{
    height: 100%;
    cursor: pointer;
    width: 70px;
    // flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $website-white-color;
    font-size: $display-2*0.8;
    background-color: $website-red-color;
    border-radius: 0 10px 10px 0;
  }


}

