//Font Families

$font-arabic-regular: 'Cairo' , sans-serif;
$font-english-regular: 'Poppins', sans-serif;

//--------------------------------------

//Fonts sizes

$display-5: 5.5rem; //88px
$display-4: 4.5rem; //72px
$display-3: 3.5rem; //56px
$display-2: 2.5rem; //40px
$display-1: 1rem; //16px
$display-0: 0.875rem; //14px

//--------------------------------------

//Colors

$website-black-color: #111619;
$website-gray-color: #667085;
$website-light-gray-color: #f4f5f7;
$website-dark-gray-color: #475467;
$website-red-color: #e30613;
$website-white-color: #fff;
$website-blue-fill-color: #0098a5;
$website-blue-empty-color: #d9f4f8;
$website-error-color-bg: #fef3f2;
$website-error-color-border: #fecdca;


//--------------------------------------

//Border radius

$website-radius: 10px;
